<button (click)="getAllData()">all data</button>
<button (click)="handleData('chef')">Chefs</button>
<button (click)="handleData('restaurant')">Restaurants</button>
<button (click)="handleData('dish')">Dishes</button>

<table mat-table [dataSource]="entityData" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{ element._id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Edit Column -->

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let element">
      <a [routerLink]="['/edit', element._id]" mat-button>Edit</a>
    </td>
  </ng-container>

  <!--Delete Item-->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="deleteItem(element)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
