@import "~@angular/material/prebuilt-themes/indigo-pink.css";

a {
  text-decoration: none;
  color: white;
}
.admin-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table {
  width: 80vw;
  min-width: 500px;
}

th.mat-header-cell,
td.mat-cell {
  padding: 8px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.table-container {
  width: 100%;
  overflow-x: auto;
}

.panel-header {
  display: flex;
  margin: 12px;
  button {
    margin-inline-start: 24px;
    max-height: 56px;
    background-color: black;
    color: white;
    border-radius: 4px;

    &:hover {
      background-color: #0e30fd;
      cursor: pointer;
    }
  }
}

tr:hover {
  background-color: #e0e0e0;
}
