/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(#c19c9c, #edeef8);
  background-size: cover; /* Optional: Cover the entire viewport */
  background-position: center;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-typography {
}
